*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: yellowgreen;
    font-weight: bold;
}

header .search-bar{
    padding-left: 20%;
    display: flex;
    gap: 5px;
}

header .search-bar input{
    border-radius: 5px;
    border: 0;
}

header .search-bar button{
    border-radius: 5px;
    border: 0;
    background-color: transparent;
}

a{
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.navigation{
    display: flex;
    gap: 10px;

}